!!! 5
%html{ :lang => "en", 'ng-app'=>"Fonce"}
  %head
    %meta{ :charset => "utf-8" }
    %title= content_for?(:title) ? yield(:title) : "FillOnce"
    = stylesheet_link_tag 'application'
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    .header
      .midheader
        .leftHeader
          .fill= "Fill:"
          .once once

        .middleHeader
        .rightHeader
          =image_tag "images.png", :size=>"35x35", :id=>"user_image"
          %div{:style=> 'display: none'}
            #user_image_popover_header Rambabu Duvvuru
            #user_image_popover_content rambabu.d@gmail.com

    .container
      .midcontainer
        = yield
